.Regular-nav {
  background-image: linear-gradient(
    to right,
    var(--color-Blue-700),
    var(--color-Blue-300)
  );
}

.Regular-list {
  display: flex;
  align-items: center;
}

.Regular-listItemLink {
  display: flex;
  text-decoration: none;
  align-items: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 1rem;
  color: var(--color-Blue-100);
}

.Regular-listItemLink:active {
  background-color: var(--color-Blue-700);
}

@media screen and (max-width: 48em) {
  .Button {
    color: var(--color-White);
    float: right;
    height: 6rem;
    width: 6rem;
  }

  .Button:not([aria-expanded="true"]) > .Button-open,
  .Button[aria-expanded="true"] > .Button-close {
    display: inline;
  }

  .Button[aria-expanded="true"] > .Button-open,
  .Button:not([aria-expanded="true"]) > .Button-close {
    display: none;
  }

  .Regular-nav {
    max-height: 6rem;
    overflow: hidden;
    transition: max-height 0.25s ease-in;
  }

  /* Delays closing the menu until all items have fade away */
  .Regular-nav:not(.Regular-nav--open) {
    transition-delay: 0.45s;
  }

  .Regular-nav--open {
    max-height: 100vh;
  }

  .Regular-list {
    margin-top: 6rem;
    flex-direction: column;
    height: calc(100% - 6rem);
  }

  .Regular-listItem {
    width: 100%;
    transition: opacity 0.25s ease;
  }

  /* START Cascade fade in for each link */
  .Regular-nav--open .Regular-listItem:nth-child(2) {
    transition-delay: 0.1s;
  }

  .Regular-nav--open .Regular-listItem:nth-child(3) {
    transition-delay: 0.2s;
  }

  .Regular-nav--open .Regular-listItem:nth-child(4) {
    transition-delay: 0.3s;
  }

  .Regular-nav--open .Regular-listItem:nth-child(5) {
    transition-delay: 0.4s;
  }
  /* END */

  /* START Cascade fade out for each link in reverse */
  .Regular-nav:not(.Regular-nav--open) .Regular-listItem:first-child {
    transition-delay: 0.5s;
  }

  .Regular-nav:not(.Regular-nav--open) .Regular-listItem:nth-child(2) {
    transition-delay: 0.4s;
  }

  .Regular-nav:not(.Regular-nav--open) .Regular-listItem:nth-child(3) {
    transition-delay: 0.3s;
  }

  .Regular-nav:not(.Regular-nav--open) .Regular-listItem:nth-child(4) {
    transition-delay: 0.2s;
  }

  .Regular-nav:not(.Regular-nav--open) .Regular-listItem:nth-child(5) {
    transition-delay: 0.1s;
  }
  /* END */

  .Regular-nav:not(.Regular-nav--open) .Regular-listItem {
    opacity: 0;
  }

  .Regular-listItem:not(:last-child) {
    border-bottom: 0.1rem solid var(--color-Blue-100);
  }

  .Regular-listItemLink {
    height: 6rem;
  }
}

@media screen and (min-width: 48.0625em) {
  .Regular-nav {
    height: 6rem;
  }

  .Button {
    display: none;
  }

  .Regular-list {
    flex-direction: row;
    height: 100%;
  }

  .Regular-listItemLink {
    height: 100%;
  }

  .Regular-listItemLink:hover,
  .Regular-listItemLink:focus,
  .Regular-listItemLink:active {
    background-color: var(--color-Blue-700);
  }
}
