/* ratio: 1:3^1/2 */
/* 30:52 */

.flex {
  display: flex;
  margin-bottom: -36px;
}

.flex:nth-child(odd) {
  margin-left: calc(30px + 104px + 8px);
}

.flex:nth-child(odd) > * {
  margin-right: calc(60px + 104px);
}

.flex:nth-child(even) {
  margin-left: 30px;
}

.flex:nth-child(even) > * {
  margin-right: calc(60px + 104px);
}

.hexagon {
  background-color: red;
  box-sizing: border-box;
  position: relative;
}

.hexagon::before,
.hexagon::after {
  content: '';
  position: absolute;
  width: 0;
}

/* Vertical  */

.hexagon.vertical::before,
.hexagon.vertical::after {
  left: 0;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}

.hexagon.vertical::before {
  border-bottom: 30px solid red;
  top: -30px;
}

.hexagon.vertical::after {
  border-top: 30px solid red;
  bottom: -30px;
}

.hexagon.vertical {
  height: 60px;
  width: 104px;
  top: 30px;
  margin-left: 30px;
}

/* Horizontal */

.hexagon.horizontal::before,
.hexagon.horizontal::after {
  top: 0;
  border-top: 52px solid transparent;
  border-bottom: 52px solid transparent;
}

.hexagon.horizontal::before {
  border-left: 30px solid red;
  right: -30px;
}

.hexagon.horizontal::after {
  border-right: 30px solid red;
  left: -30px;
}

.hexagon.horizontal {
  height: 104px;
  width: 60px;
}
